.DS_Store
client/node_modules
client/src/app/wasm/Cargo.lock
client/src/app/wasm/target
client/src/app/wasm/pkg
node_modules
node
/dist
/project


# local env files
.env.local
.env.*.local
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
